<div class="row">
  <% if !@guard_houses.nil? %>
      <div class="col-md-12 icon-menu">
        <div class="col-md-1">
          <%= image_tag 'no-image.jpg', class: 'img-thumbnail' %>
        </div>
        <div class="col-md-11">
          <h4><%= t('guard_houses.guard_houses') %></h4>
        </div>
      </div>
      <% @guard_houses.each do |gh| %>
          <div class="col-md-12">
            <hr>
            <h4>Guard house name</h4>
            <h4><%= gh.phone %></h4>
          </div>
      <% end %>
  <% else %>
      <h4>Guard houses is empty!</h4>
  <% end %>
</div>