<h1 class="text-center"><%= t('.merchant') %></h1>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-7">
    <p class="lead text-justify"><%= t('.info') %></p>
    <p class="text-success"><%= t('.description') %></p>
  </div>
  <div class="col-xs-12 col-sm-5">
    <%= render 'form' %>
  </div>
</div>

