// Place all the styles related to the bulletins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.event-partial{

a.left{
 position: absolute;
 right : 50px;
}
.big{
  font-size : 2em
}

a.btn-link:hover {
  text-decoration: none;
}

div.event-content {
div.row{
  margin : 20px 0px;
  p.list_user{
  margin : 5px 0px ; 
  }
  h3 {
  color : #EA2635;
  }
  .btn-info{
  background-color : #EA2635;
  border-color : #EA2635;
  }
}

padding : 3px;
//position : relative ;
min-height: 100px ;
border-bottom: 1px solid black ;
#left{
float: left;
  width: 33%;
}
#medium{
float: left;
  width: 33%;
}
#right{
float: left;
  width: 33%; 
}
#foot{
 border-top : 1px solid black;
clear: both ;
padding: 10px;

}
}

}


