.margin-ttop-50 {
  margin-top: 50px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #EEE;
}

.content-left {
  background: -webkit-linear-gradient(#BFDBE9, #E5F0F5);
  background: -moz-linear-gradient(#BFDBE9, #E5F0F5);
  background: -ms-linear-gradient(#BFDBE9, #E5F0F5);
  background: linear-gradient(#BFDBE9, #E5F0F5);
  border: 2px solid lightblue;
  box-shadow: 0 0 2px 2px steelblue;
}

.content-right {
  
}

.content-privileges {
  background: -webkit-linear-gradient(#BFDBE9, #E5F0F5, #BFDBE9);
  background: -moz-linear-gradient(#BFDBE9, #E5F0F5, #BFDBE9);
  background: -ms-linear-gradient(#BFDBE9, #E5F0F5, #BFDBE9);
  background: linear-gradient(#BFDBE9, #E5F0F5, #BFDBE9);
  border: 2px solid lightblue;
  box-shadow: 0 0 2px 2px steelblue;
}
.carousel-control.right {
  left: auto;
  right: 0px;
  background-image: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
}
.carousel-control.left {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, transparent 100%);
  background-repeat: repeat-x;
}
a.list-group-item-info:hover, a.list-group-item-info:focus {
  color: #31708F;
  background-color: #C4E3F3;
  border: 1px solid steelblue;
  box-shadow: 0 0 5px 5px #ffffff;
  text-shadow: 0 0 6px steelblue;
}